html,body{
  margin: 0;
  overflow-x: hidden; /* Az vízszintes görgetősáv eltüntetése */
  overflow-y: scroll; /* A függőleges görgetősáv fenntartása */
  
}
.desktop-1 {
  position: relative;
  background-color: var(--color-darkslategray-200);
  display: block;
  width: 100%;
  height: 9800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-inria-serif);
}
b{
  font-weight: bold;
}
.hero-bg {
  position: absolute;
  z-index: 0;
  background-color: var(--color-darkslategray-200);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 982px;
}

.nav-container{
  position: relative;
    z-index: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
}

.b-1-icon {
  top: 51px;
  left: 50px;
  width: 80px;
  height: 80px;
}

.profilkep-bw-1-icon {
  position: absolute;
  top: 132px;
  right: -80px;
  width: 1029px;
  height: 850px;
  object-fit: cover;
}


.about,
.contact,
.portfolio
{
  font-size: var(--font-size-6xl);
  font-family: var(--font-istok-web);
  color: var(--color-darkgray);
}

.searchbar{    display: flex;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 210px;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.search {
  font-size: var(--font-size-6xl);
  color: var(--color-darkgray);
}

.search-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.line-div {
  position: absolute;
  box-sizing: border-box;
  top: 433px;
  right: 6rem;
  border-right: 2px solid var(--color-sandybrown-100);
  width: 2px;
  height: 211px;
}

.facebook-icon, .instagram-icon, .whatsapp-icon, .linkedin-big-logo-icon {
  filter: invert(0.8);
  position: absolute;
  right: 4.6rem;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.facebook-icon{
  top: 695px;
}

.instagram-icon{
  top: 773px;
}

.linkedin-big-logo-icon{
  top: 838px;
}

.whatsapp-icon{
  top: 912px;
}

.greeting-container{
  left: 300px;
}


.greeting {
  position: absolute;
  top: 311px;
  left: 13vw;
  font-size: var(--font-size-6xl);
  font-family: var(--font-istok-web);
  color: var(--color-gainsboro);
  display: inline-block;
  width: 356px;
  height: 84px;
}

strong{
  font-size: var(--font-size-21xl);
  color: var(--color-sandybrown-100);
  width: 313px;
  height: 36px;
  
}

.contact-button {
  font-size: var(--font-size-6xl);
  color: var(--color-sandybrown-100);
  font-family: var(--font-istok-web);
  border-radius: 15px;
  background-color: inherit;
  border: 2px;
  border-style: solid;
  border-color: var(--color-sandybrown-100);
  width: 183px;
  height: 58px;
}

main{
  display: flex;
  justify-content: center;
}

.about-description {
  position: absolute;
  top: 1104px;
  left: 10vw;
  font-size: var(--font-size-26xl);
  color: var(--color-whitesmoke);
}

.about-horizontal-line {
  position: absolute;
  top: 1231px;
  left: 10vw;
  border-top: 2px solid var(--color-sandybrown-100);
  width: 75px;
  height: 2px;
}
.about-paragraph {
  position: absolute;
  top: 1219px;
  left: 18vw;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-istok-web);
  color: var(--color-gainsboro);
  margin-right: 5rem;
  margin-left: 3rem;
  height: 170px;
  max-width: 1700px;
}

.my-skills {
  position: absolute;
  top: 1539px;
  font-size: var(--font-size-26xl);
  color: var(--color-whitesmoke);

}

.skill-container,
.softwares-container,
.os-container,
.portfolio-container {
  position: absolute;
  display: flex;
  top: 1600px;
  flex-wrap: wrap;
  padding-top: 10rem;
  justify-content: space-evenly;
  margin-left: 3rem;
  margin-right: 3rem;
  max-width: 1290px; /* Maximum 5 elem egy sorban (258px * 5 + 40px margó) */
  width: 100%;
  box-sizing: border-box;
}

.item {
  width: 258px;
  height: 258px;
  color: var(--color-white);
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  margin: 10px;
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-1-child13,
.desktop-1-child14,
.desktop-1-child15,
.desktop-1-child10,
.desktop-1-child11,
.desktop-1-child12{
  
}

.item-picture{
  margin-top: 42px;
  margin-bottom: 22px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.softwares{    
  position: absolute;
  top: 3465px;
  font-size: var(--font-size-26xl);
  color: var(--color-whitesmoke);
}

.softwares-container{
  top: 3434px;
}


.my-skills {
  position: absolute;
  top: 1539px;
  font-size: var(--font-size-26xl);
}

.os{
  position: absolute;
  top: 4385px;
  font-size: var(--font-size-26xl);
  color: var(--color-whitesmoke);
}
.os-container{
  top: 4385px;
}

.portfolios{
  position: absolute;
  top: 4995px;
  font-size: var(--font-size-26xl);
  color: var(--color-whitesmoke);
}

.portfolio-container{
  top: 4995px;
}

.portfolio-item{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 50px;
}

.view-more{
  position: absolute;
  width: 258.72px;
  top: 6400px;
  height: 82px;
  text-align: center;
  background-color: #efbf6b;
  border-radius: 15px;
  border-style: none;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-istok-web);
  font-weight: bolder;
}


.experience-h1{
  position: absolute;
  z-index: 1;
  top: 6610px;
  left: 10vw;
  font-size: var(--font-size-26xl);
  color: var(--color-whitesmoke);
}

.experience-bg{
  position: absolute;
  top: 6643px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 100vw;
  height: 1250px;
}

.experience-container{
  margin-bottom: 5rem;
  height: 500px;
  display: flex;
  justify-content: center
}

.year-container{
  display: inline-flex;
}
.year {
  position: relative;
  color: var(--color-whitesmoke);
  font-family: var(--font-istok-web);
  margin-top: 5.1rem;
  height: 40px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color:var(--color-dimgray-200);
  font-size: 30px;
}

.triangle{
  margin-left: -0.7px;
  margin-top: 5.08rem;
  height: 50.5px;
}
.decoration{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sun{
  width: 200px;
}

.sun_line{
  width: 5px;
  max-height: 300px;
}

.company-description{
  margin-top: 4.5rem;
}

.company-name{
  font-size: var(--font-size-31xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-istok-web);
}

.company-location{
  margin-top: 3rem;
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-istok-web);
}

.job-description{
  font-size: var(--font-size-6xl);
  font-family: var(--font-istok-web);
  color: var(--color-gray);
  margin-top: 1rem;
  max-width: 835px;
}

.studies{
  position: absolute;
  top: 7864px;
  left: 10vw;
  font-size: var(--font-size-26xl);
  color: var(--color-whitesmoke);
}

.studies-container{
  position: absolute;
  display: flex;
  top: 8000px;
  width: 80vw; 
  justify-content: space-around;
  align-items: center;
}

.studies-description-container{
  display: flex;
  flex-direction: column;
}

.studies-description{
  display: inline-flex;

}

.studies-years{
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-inria-serif);
  font-size: 40px;
}

.studies-name{
  margin-left: 5rem;
}

.faculty{
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: var(--font-istok-web);
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
  font-size: 40px;
}

.faculty2{
  margin-bottom: 1.8rem;
  font-size: 35px;
  font-family: var(--font-istok-web);
  font-style: italic;
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
}

.faculty3{
  font-family: var(--font-istok-web);
  font-style: bold;
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
}

.flag-container{
  display: flex;
  flex-direction: column;
}

.flag{
  width: 120px;
  height: 120px;
}

.contact-me-border{
  display: flex;
  position: absolute;
  top: 8800px;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
.contact-me-h1{
  position: relative;
  z-index: 1;
  font-size: 48px;
  font-size: var(--font-size-26xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-istok-web);
}
.yellow-line{
  position: relative;
  z-index: 1;
  border-top: 5px solid var(--color-sandybrown-200) ;
  box-sizing: border-box;
  height: 5px;
  width: 43vw;
}

.contact-me-bg{
  position: absolute;
  display: flex;
  top: 8835px;
  height: 500px;
  width: 100vw;
  background-color: var(--color-darkslategray-100);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.email-phone-container{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 450px;
  justify-content: center;
}

.space{
  width: 40px;
}
.email-container, .phone-container, .location-container{
  height: 84px;
  width: 450px;
  margin-top: 8rem;
  background-color: var(--color-darkslategray-200);
  border-radius: var(--br-mini);
  color: var(--color-whitesmoke);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-icons{
  width: 50px;
  height: 50px;
  filter: invert(0.8);
}

.social-border{

  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 9310px;
  width: 100vw;
}

.facebook-icon-border, .instagram-icon-border, .linkedin-icon-border, .whatsapp-icon-border{
  filter: invert(0.8);
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.thanks{
  position: absolute;
  top: 9600px;
  font-size: var(--font-size-26xl);
  color: var(--color-sandybrown-100);
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .softwares {
    position: relative;
    top: 3610px !important;
  }
  .softwares-container {
    top: 3666px !important;
  }
}

@media screen and (max-width: 2000px) {
  .yellow-line{
    border-top: 5px solid var(--color-sandybrown-200) ;
    box-sizing: border-box;
    height: 5px;
    width: 40vw;
  }
}

@media screen and (max-width: 1475px) {

  .yellow-line{
    
    width: 37vw;
  }
}

@media screen and (max-width: 1150px) {

  .contact-me-h1{
    font-size: 48px;
  }
  .yellow-line{
    
    width: 34vw;
  }
}

@media screen and (max-width: 935px) {

  .contact-me-h1{
    font-size: 48px;
  }
  .yellow-line{
    
    width: 30vw;
  }
}

@media screen and (max-width: 699px) {

  .contact-me-h1{
    font-size: 48px;
  }
  .yellow-line{
    
    width: 26vw;
  }
}

@media screen and (max-width: 550px) {

  .contact-me-h1{
    font-size: 38px;
    color: black;
    background: var(--color-sandybrown-200);
    border-radius: 15px;
    padding-left: 10px ;
    padding-bottom: 5px;
    padding-right: 10px ;
  }
  .yellow-line{
    
    width: 0vw;
  }
}