.desktop-1-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 982px;
}
.profilkep-bw-1-icon {
  position: absolute;
  top: 132px;
  right: -80px;
  width: 1029px;
  height: 850px;
  object-fit: cover;
}
.desktop-1-inner,
.desktop-1-item {
  position: absolute;
  top: 8535px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1440px;
  height: 372px;
}
.desktop-1-inner {
  top: 8744px;
  left: 492px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-200);
  width: 437px;
  height: 84px;
}
.rectangle-div {
  position: absolute;
  top: 6643px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1440px;
  height: 1250px;
}
.i-have-acquired {
  position: absolute;
  top: 6938px;
  left: 548px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-istok-web);
  color: var(--color-gray);
  width: 835px;
  height: 322px;
}
.pte-studev {
  position: absolute;
  top: 6796px;
  left: 548px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inder);
}
.desktop-1-child1,
.desktop-1-child2 {
  position: absolute;
  top: 4585px;
  left: 428px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  width: 258px;
  height: 258px;
}
.desktop-1-child2 {
  left: 764px;
}
.about,
.contact,
.portfolio {
  position: absolute;
  top: 73px;
  left: 503px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-istok-web);
  color: var(--color-darkgray);
}
.contact,
.portfolio {
  left: 672px;
}
.contact {
  left: 869px;
}
.im {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.full-stack-developer {
  margin: 0;
}
.blint-szkely,
.im-full-stack-developer-container {
  position: absolute;
  top: 311px;
  left: 199px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-istok-web);
  color: var(--color-gainsboro);
  display: inline-block;
  width: 356px;
  height: 84px;
}
.blint-szkely {
  top: 300px;
  left: 242px;
  font-size: var(--font-size-21xl);
  color: var(--color-sandybrown-100);
  width: 313px;
  height: 36px;
}
.desktop-1-child3,
.line-div {
  position: absolute;
  box-sizing: border-box;
}
.line-div {
  top: 433px;
  right: 6rem;
  border-right: 2px solid var(--color-sandybrown-100);
  width: 2px;
  height: 211px;
}
.desktop-1-child3 {
  top: 1231px;
  left: 99px;
  border-top: 2px solid var(--color-sandybrown-100);
  width: 75px;
  height: 2px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-200);
  border: 3px solid var(--color-sandybrown-100);
  box-sizing: border-box;
}
.contact-me,
.group-child,
.rectangle-parent {
  position: absolute;
  width: 183px;
  height: 58px;
}
.contact-me {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-parent {
  top: 445px;
  left: 199px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-sandybrown-100);
  font-family: var(--font-istok-web);
}
.linkedin-big-logo-icon {
  position: absolute;
  filter: invert(0.8);
  top: 838px;
  right: 4.6rem;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.b-1-icon {
  position: absolute;
  top: 838px;
  right: 4.6rem;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.b-1-icon {
  top: 51px;
  left: 50px;
  width: 80px;
  height: 80px;
}
.about1 {
  position: absolute;
  top: 1104px;
  left: 100px;
  font-size: var(--font-size-26xl);
}
.i-have-acquired1 {
  position: absolute;
  top: 1219px;
  left: 187px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-istok-web);
  color: var(--color-gainsboro);
  width: 1114px;
  height: 170px;
}
.my-skills {
  position: absolute;
  top: 1539px;
  left: 657px;
  font-size: var(--font-size-26xl);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  width: 258px;
  height: 258px;
}

.group-item:hover {
  background-color: #efbf6b;
}

.github,
.group-inner {
  position: absolute;
  top: 164px;
  left: 80px;
}
.group-inner {
  top: 29px;
  border-radius: var(--br-mini);
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-group {
  position: absolute;
  top: 2099px;
  left: 415px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.git-1-icon,
.git-source-control-container {
  position: absolute;
  top: 146px;
  left: 54px;
}
.git-1-icon {
  top: 29px;
  left: 79px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-container {
  position: absolute;
  top: 2098px;
  left: 100px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.java {
  position: absolute;
  top: 186px;
  left: 94px;
  display: inline-block;
  width: 70px;
  height: 42px;
}
.java-1-icon {
  position: absolute;
  top: 55px;
  left: 79px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.group-div {
  position: absolute;
  top: 1772px;
  left: 100px;
  width: 258px;
  height: 258px;
  color: var(--color-white);
}

.python-1-icon {
  position: absolute;
  top: 55px;
  left: 81px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.python {
  position: absolute;
  top: 186px;
  left: 86px;
}
.rectangle-parent1 {
  position: absolute;
  top: 1772px;
  left: 415px;
  width: 258px;
  height: 258px;
  color: var(--color-white);
}
.css-3-1-icon,
.html-1-icon {
  position: absolute;
  top: 57px;
  left: 23px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.css-3-1-icon {
  left: 129px;
}
.html-css {
  position: absolute;
  top: 188px;
  left: 51px;
}
.rectangle-parent2 {
  position: absolute;
  top: 1770px;
  left: 729px;
  width: 258px;
  height: 258px;
  color: var(--color-white);
}
.javascript,
.js-1-icon {
  position: absolute;
  top: 188px;
  left: 56px;
}
.js-1-icon {
  top: 57px;
  left: 79px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-parent3 {
  position: absolute;
  top: 1770px;
  left: 1043px;
  width: 258px;
  height: 258px;
  color: var(--color-white);
}
.gitlab {
  position: absolute;
  top: 164px;
  left: 83px;
}
.rectangle-parent4 {
  position: absolute;
  top: 2098px;
  left: 729px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.spring {
  position: absolute;
  top: 164px;
  left: 82px;
}
.rectangle-parent5 {
  position: absolute;
  top: 2098px;
  left: 1043px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.react,
.react-1-icon {
  position: absolute;
  top: 169px;
  left: 90px;
}
.react-1-icon {
  top: 51px;
  left: 79px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-parent6 {
  position: absolute;
  top: 2726px;
  left: 910px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.angular,
.angular-1-icon {
  position: absolute;
  top: 169px;
  left: 82px;
}
.angular-1-icon {
  top: 51px;
  left: 88px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-parent7 {
  position: absolute;
  top: 2726px;
  left: 591px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.apache-maven-1,
.maven {
  position: absolute;
  top: 169px;
  left: 83px;
}
.apache-maven-1 {
  top: 51px;
  left: 93px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-parent8 {
  position: absolute;
  top: 2726px;
  left: 272px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.lombok,
.lombok-1-icon {
  position: absolute;
  top: 156px;
  left: 73px;
}
.lombok-1-icon {
  top: 42px;
  left: 82px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-parent9 {
  position: absolute;
  top: 3040px;
  left: 432px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.mysql,
.mysql-1-icon {
  position: absolute;
  top: 169px;
  left: 81px;
}
.mysql-1-icon {
  top: 41px;
  left: 83px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-parent10 {
  position: absolute;
  top: 2412px;
  left: 729px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.postgre-1-icon,
.postgresql {
  position: absolute;
  top: 169px;
  left: 49px;
}
.postgre-1-icon {
  top: 41px;
  left: 79px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-parent11 {
  position: absolute;
  top: 2412px;
  left: 1043px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.xampp,
.xampp-1-icon {
  position: absolute;
  top: 170px;
  left: 85px;
}
.xampp-1-icon {
  top: 45px;
  left: 84px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.rectangle-parent12 {
  position: absolute;
  top: 3995px;
  left: 764px;
  width: 258px;
  height: 258px;
  color: var(--color-white);
}
.test-1-icon,
.test-2-icon,
.test-3-icon,
.test-4-icon {
  position: absolute;
  top: 5155px;
  left: 954px;
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.test-2-icon,
.test-3-icon,
.test-4-icon {
  left: 136px;
}
.test-2-icon,
.test-4-icon {
  left: 543px;
}
.test-4-icon {
  top: 6005px;
  left: 954px;
}
.c-sharp-1-icon,
.test-5-icon,
.test-6-icon,
.test-7-icon,
.test-8-icon,
.test-9-icon {
  position: absolute;
  top: 6005px;
  left: 132px;
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.c-sharp-1-icon,
.test-6-icon,
.test-7-icon,
.test-8-icon,
.test-9-icon {
  left: 548px;
}
.c-sharp-1-icon,
.test-7-icon,
.test-8-icon,
.test-9-icon {
  top: 5580px;
  left: 954px;
}
.c-sharp-1-icon,
.test-8-icon,
.test-9-icon {
  left: 136px;
}
.c-sharp-1-icon,
.test-9-icon {
  left: 543px;
}
.c-sharp-1-icon {
  top: 41px;
  left: 81px;
  width: 100px;
  height: 100px;
}
.c {
  position: absolute;
  top: 176px;
  left: 112px;
}
.rectangle-parent13 {
  position: absolute;
  top: 2412px;
  left: 414px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.hibernate-icon-1 {
  position: absolute;
  top: 41px;
  left: 76px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
}
.hibernet {
  position: absolute;
  top: 176px;
  left: 64px;
}
.rectangle-parent14 {
  position: absolute;
  top: 2412px;
  left: 103px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.springboot {
  position: absolute;
  top: 156px;
  left: 45px;
}
.rectangle-icon,
.springboot-1-icon {
  position: absolute;
  top: 3169px;
  left: 819px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.springboot-1-icon {
  top: 47px;
  left: 73px;
  height: 89.72px;
}
.rectangle-parent15 {
  position: absolute;
  top: 3040px;
  left: 764px;
  width: 258px;
  height: 258px;
  text-align: center;
  color: var(--color-white);
}
.operation-systems,
.portfolio1,
.softwares {
  position: absolute;
  top: 3434px;
  left: 625px;
  font-size: var(--font-size-26xl);
}
.operation-systems,
.portfolio1 {
  top: 5026px;
  left: 627px;
}
.operation-systems {
  top: 4417px;
  left: 521px;
}
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  width: 258px;
  height: 258px;
  object-fit: cover;
}
.eclipse-1-icon,
.eclpise {
  position: absolute;
  left: 79px;
}
.eclipse-1-icon {
  top: 49px;
  width: 100px;
  height: 93.75px;
  object-fit: cover;
}
.eclpise {
  top: 168px;
}
.desktop-1-inner1,
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 258px;
  height: 258px;
  border-radius: 15px;
  background-color: var(--color-darkslategray-100);
}

.vector-parent:hover {
  background-color: #efbf6b;
}
.desktop-1-inner1 {
  top: 3646px;
  left: 272px;
  color: var(--color-white);
}
.visual-studio-1-icon {
  position: absolute;
  top: 43px;
  left: 78px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.visual-studio-container {
  position: absolute;
  top: 159px;
  left: 45px;
}
.rectangle-parent16 {
  position: absolute;
  top: 3646px;
  left: 591px;
  width: 258px;
  height: 258px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.intelij {
  position: absolute;
  top: 168px;
  left: 78px;
}
.desktop-1-inner2 {
  position: absolute;
  top: 3646px;
  left: 910px;
  width: 258px;
  height: 258px;
  color: var(--color-white);
}
.postman-1-icon {
  position: absolute;
  top: 45px;
  left: 79px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.postman {
  position: absolute;
  top: 170px;
  left: 67px;
}
.rectangle-parent18 {
  position: absolute;
  top: 3995px;
  left: 428px;
  width: 258px;
  height: 258px;
  color: var(--color-white);
}
.macos-1-icon,
.windows-1-icon {
  position: absolute;
  top: 4639px;
  left: 482px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.macos-1-icon {
  top: 4634px;
  left: 813px;
  width: 160px;
  height: 160px;
}
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-sandybrown-100);
  border: 3px solid var(--color-sandybrown-100);
  box-sizing: border-box;
  width: 258.72px;
  height: 82px;
}
.view-more {
  position: absolute;
  top: 16px;
  left: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 179.55px;
  height: 50.9px;
}
.rectangle-parent19 {
  position: absolute;
  top: 6414px;
  left: 594px;
  width: 258.72px;
  height: 82px;
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-istok-web);
}
.experience {
  position: absolute;
  top: 6611px;
  left: 64px;
  font-size: var(--font-size-26xl);
}
.ellipse-div {
  position: absolute;
  top: 4767px;
  left: 1177px;
  border-radius: 50%;
  background-color: var(--color-dimgray-100);
  width: 18px;
  height: 18px;
}
.desktop-1-child4,
.desktop-1-child5,
.desktop-1-child6,
.desktop-1-child7,
.desktop-1-child8 {
  position: absolute;
  top: 4765px;
  left: 1239px;
  border-radius: 50%;
  background-color: var(--color-dimgray-100);
  width: 20px;
  height: 20px;
}
.desktop-1-child5,
.desktop-1-child6,
.desktop-1-child7,
.desktop-1-child8 {
  left: 1112px;
  width: 21px;
  height: 21px;
}
.desktop-1-child6,
.desktop-1-child7,
.desktop-1-child8 {
  left: 1303px;
}
.desktop-1-child7,
.desktop-1-child8 {
  top: 4865px;
  left: 1177px;
  width: 18px;
  height: 18px;
}
.desktop-1-child8 {
  top: 4863px;
  left: 1239px;
  width: 20px;
  height: 20px;
}
.desktop-1-child10,
.desktop-1-child11,
.desktop-1-child12,
.desktop-1-child13,
.desktop-1-child9 {
  position: absolute;
  top: 4863px;
  left: 1112px;
  border-radius: 50%;
  background-color: var(--color-dimgray-100);
  width: 21px;
  height: 21px;
}
.desktop-1-child10,
.desktop-1-child11,
.desktop-1-child12,
.desktop-1-child13 {
  top: 3403px;
  left: 190px;
  width: 18px;
  height: 18px;
}
.desktop-1-child11,
.desktop-1-child12,
.desktop-1-child13 {
  top: 3401px;
  left: 252px;
  width: 20px;
  height: 20px;
}
.desktop-1-child12,
.desktop-1-child13 {
  left: 125px;
  width: 21px;
  height: 21px;
}
.desktop-1-child13 {
  top: 3501px;
  left: 190px;
  width: 18px;
  height: 18px;
}
.desktop-1-child14,
.desktop-1-child15,
.desktop-1-child16,
.desktop-1-child17,
.desktop-1-child18 {
  position: absolute;
  top: 3499px;
  left: 252px;
  border-radius: 50%;
  background-color: var(--color-dimgray-100);
  width: 20px;
  height: 20px;
}
.desktop-1-child15,
.desktop-1-child16,
.desktop-1-child17,
.desktop-1-child18 {
  left: 125px;
  width: 21px;
  height: 21px;
}
.desktop-1-child16,
.desktop-1-child17,
.desktop-1-child18 {
  top: 4863px;
  left: 1303px;
}
.desktop-1-child17,
.desktop-1-child18 {
  top: 4962px;
  left: 1177px;
  width: 18px;
  height: 18px;
}
.desktop-1-child18 {
  top: 4960px;
  left: 1239px;
  width: 20px;
  height: 20px;
}
.desktop-1-child19,
.desktop-1-child20,
.desktop-1-child21,
.desktop-1-child22,
.desktop-1-child23,
.desktop-1-child24 {
  position: absolute;
  top: 4960px;
  left: 1112px;
  border-radius: 50%;
  background-color: var(--color-dimgray-100);
  width: 21px;
  height: 21px;
}
.desktop-1-child20,
.desktop-1-child21,
.desktop-1-child22,
.desktop-1-child23,
.desktop-1-child24 {
  left: 1303px;
}
.desktop-1-child21,
.desktop-1-child22,
.desktop-1-child23,
.desktop-1-child24 {
  top: 5059px;
  left: 1177px;
  width: 18px;
  height: 18px;
}
.desktop-1-child22,
.desktop-1-child23,
.desktop-1-child24 {
  top: 5057px;
  left: 1239px;
  width: 20px;
  height: 20px;
}
.desktop-1-child23,
.desktop-1-child24 {
  left: 1112px;
  width: 21px;
  height: 21px;
}
.desktop-1-child24 {
  left: 1303px;
}
.desktop-1-child25,
.group-icon,
.line-icon {
  position: absolute;
  top: 6885px;
  left: 438.5px;
  width: 5px;
  height: 300.5px;
  object-fit: cover;
}
.desktop-1-child25,
.group-icon {
  top: 7243px;
  left: 356px;
  width: 170px;
  height: 170px;
}
.desktop-1-child25 {
  top: 6737px;
}
.group-child23 {
  position: absolute;
  top: calc(50% - 26.27px);
  left: calc(50% - 64px);
  background-color: var(--color-dimgray-200);
  width: 95.85px;
  height: 52.53px;
}
.b {
  position: absolute;
  top: 9px;
  left: 12px;
  display: inline-block;
  width: 93.5px;
  height: 41.76px;
}
.polygon-icon {
  position: absolute;
  top: calc(50% - 26.36px);
  left: calc(50% + 31.4px);
  width: 32.6px;
  height: 52.72px;
  object-fit: cover;
}
.desktop-1-inner3,
.desktop-1-inner4,
.group-wrapper {
  position: absolute;
  top: calc(50% - 30.44px);
  left: calc(50% - 64px);
  width: 128px;
  height: 60.87px;
}
.desktop-1-inner3,
.desktop-1-inner4 {
  top: calc(50% + 2681px);
  left: calc(50% - 493px);
  font-size: var(--font-size-16xl);
}
.desktop-1-inner4 {
  top: calc(50% + 2173px);
  left: calc(50% - 481px);
}
.desktop-1-child26 {
  position: absolute;
  top: 7390px;
  left: 438.5px;
  width: 5px;
  height: 300.5px;
  object-fit: cover;
}
.i-have-acquired2,
.pcs-hungary {
  font-family: var(--font-istok-web);
}
.pcs-hungary {
  position: absolute;
  top: 6877px;
  left: 548px;
}
.i-have-acquired2 {
  top: 7442px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  color: var(--color-gray);
  width: 835px;
  height: 322px;
}
.i-have-acquired2,
.pcs-hungary1,
.pte-studev1 {
  position: absolute;
  left: 527px;
}
.pte-studev1 {
  top: 7300px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-inder);
}
.pcs-hungary1 {
  top: 7381px;
  font-family: var(--font-istok-web);
}
.desktop-1-child27,
.desktop-1-child28,
.desktop-1-child29,
.desktop-1-child30 {
  position: absolute;
  top: 8398px;
  left: 1365px;
  border-radius: 50%;
  background-color: var(--color-dimgray-100);
  width: 18px;
  height: 18px;
}
.desktop-1-child28,
.desktop-1-child29,
.desktop-1-child30 {
  top: 8396px;
  left: 1300px;
  width: 21px;
  height: 21px;
}
.desktop-1-child29,
.desktop-1-child30 {
  top: 8455px;
  left: 1365px;
  width: 18px;
  height: 18px;
}
.desktop-1-child30 {
  top: 8453px;
  left: 1300px;
  width: 21px;
  height: 21px;
}
.facebook-icon,
.instagram-icon,
.whatsapp-icon {
  filter: invert(0.8);
  position: absolute;
  top: 695px;
  right: 4.6rem;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.instagram-icon,
.whatsapp-icon {
  top: 773px;
}
.whatsapp-icon {
  top: 912px;
}
.desktop-1-child31,
.desktop-1-child32,
.desktop-1-child33,
.desktop-1-child34 {
  position: absolute;
  top: 8531.5px;
  left: -2.5px;
  border-top: 5px solid var(--color-sandybrown-200);
  box-sizing: border-box;
  width: 561px;
  height: 5px;
}
.desktop-1-child32,
.desktop-1-child33,
.desktop-1-child34 {
  left: 881.5px;
}
.desktop-1-child33,
.desktop-1-child34 {
  top: 8904.5px;
  left: 867.5px;
  width: 575px;
}
.desktop-1-child34 {
  left: -2.5px;
}
.contact-me1 {
  position: absolute;
  top: 8499px;
  left: 587px;
  font-size: 48px;
  font-family: var(--font-istok-web);
}
.facebook-icon1,
.instagram-icon1,
.linkedin-big-logo-icon1,
.whatsapp-icon1 {
  filter: invert(0.8);
  position: absolute;
  top: 8882px;
  left: 728px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.facebook-icon1,
.instagram-icon1,
.whatsapp-icon1 {
  left: 594px;
}
.instagram-icon1,
.whatsapp-icon1 {
  left: 661px;
}
.whatsapp-icon1 {
  left: 795px;
}
.group-child26 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-200);
  width: 437px;
  height: 84px;
}
.szekelybalint0101gmailcom {
  position: absolute;
  top: 25px;
  left: 86px;
  display: inline-block;
  width: 342px;
  height: 34px;
}
.envelope-1-icon {
  position: absolute;
  top: 17px;
  left: 23px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.group-child27,
.rectangle-parent22 {
  position: absolute;
  width: 437px;
  height: 84px;
}
.rectangle-parent22 {
  top: 8627px;
  left: 257px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-istok-web);
}
.group-child27 {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  object-fit: cover;
}
.call-1-icon,
.div {
  position: absolute;
  top: 25px;
  left: 131px;
}
.call-1-icon {
  top: 17px;
  left: 67px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.vector-group {
  position: absolute;
  top: 8627px;
  left: 728px;
  width: 437px;
  height: 84px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-istok-web);
}
.location-1-icon {
  position: absolute;
  top: 8761px;
  left: 531px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.budapest-hungary {
  position: absolute;
  top: 8767px;
  left: 605px;
  font-size: var(--font-size-7xl);
  font-family: var(--font-istok-web);
  color: var(--color-white);
}
.b2,
.b3,
.studies,
.university-of-pcs {
  position: absolute;
  font-family: var(--font-istok-web);
  text-align: center;
}
.studies {
  top: 7865px;
  left: 47px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 268px;
  height: 43px;
}
.b2,
.b3,
.university-of-pcs {
  top: 7996px;
  left: 200px;
}
.b3,
.university-of-pcs {
  top: 8284px;
  left: 210px;
}
.university-of-pcs {
  top: 7996px;
  left: 461px;
}
.computer-science,
.faculty-of-science,
.front-end-development,
.prooktats {
  position: absolute;
  top: 8065px;
  left: 467px;
  font-family: var(--font-istok-web);
  text-align: center;
}
.computer-science,
.front-end-development,
.prooktats {
  top: 8134px;
  left: 461px;
}
.front-end-development,
.prooktats {
  top: 8284px;
}
.front-end-development {
  top: 8353px;
}
.thanks-for-scrolling {
  position: absolute;
  top: 9025px;
  left: 488px;
  font-size: var(--font-size-26xl);
  color: var(--color-sandybrown-100);
  text-align: center;
}
.english-1-icon,
.german-1-icon,
.hungary-1-icon {
  position: absolute;
  top: 8010px;
  left: 1158px;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.english-1-icon,
.german-1-icon {
  top: 8117px;
}
.german-1-icon {
  top: 8224px;
}
.desktop-1-child35 {
  position: absolute;
  top: 62px;
  left: 1104px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 210px;
  height: 50px;
}
.search {
  position: absolute;
  top: 72px;
  left: 1113px;
  font-size: var(--font-size-6xl);
  color: var(--color-darkgray);
}
.magnifying-glass-1-icon {
  position: absolute;
  top: 76px;
  left: 1272px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 9238px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-inria-serif);
}
